<div class="p-8">
  <ng-template #loading>
    <div
      class="text-center py-6 border-2 border-neutral-300 bg-neutral-100 rounded-md"
    >
      Espere por favor...
    </div>
  </ng-template>

  <div *ngIf="country; else loading">
    <div
      class="flex justify-between items-center border-b-2 border-b-indigo-600 px-4 pb-4"
    >
      <h2 class="text-3xl font-bold">
        {{ country.name.common }}
      </h2>

      <img [src]="country.flags.png" alt="" class="block w-24 h-auto" />
    </div>

    <div class="my-8">
      <h2 class="text-2xl font-semibold mb-4">Informacion del Pais</h2>

      <ul class="ml-6">
        <li class="mb-2">
          <strong>Capital:</strong>
          <p class="ml-2 text-lg">{{ country.capital }}</p>
        </li>
        <li class="mb-2">
          <strong>Poblacion:</strong>
          <p class="ml-2 text-lg">{{ country.population | number }}</p>
        </li>
        <li class="mb-2">
          <strong>Codigo:</strong>
          <p class="ml-2 text-lg">{{ country.cca3 }}</p>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mb-4">Traducciones</h2>

      <div>
        <button *ngFor="let traduction of traductions" class="bg-blue-500 text-white rounded-md px-2 py-1 m-1">{{ traduction }}</button>
      </div>
    </div>
  </div>
</div>
