<div class="p-8">
  <h2 class="text-3xl font-semibold text-neutral-700">Por Capital</h2>

  <div class="my-4">
    <shared-search-box
      placeholder="Buscar por capital..."
      (onValue)="searchByCapital($event)"
    ></shared-search-box>
  </div>

  <hr class="mb-6" />

  <div>
    <ul>
      <li *ngFor="let country of countries" class="my-4">
        <p class="text-xl font-semibold border-b-2 border-indigo-800">
          {{ country.capital }}
        </p>
        <p>
          <span class="font-bold">Poblacion:</span> {{ country.population }}
        </p>
      </li>
    </ul>
  </div>
</div>
