<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <p>
    Heroe borrado:
    <small class="text-danger"> {{ deletedHero || "---" }} </small>
  </p>
</div>

<ng-template #nothingWasDeleted >
  <p>No se ha borrado ningun heroe</p>
</ng-template>

<button *ngIf="heroNames.length > 0" class="btn btn-outline-danger" (click)="removeLastHero()">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let heroName of heroNames" class="list-group-item">
    {{ heroName }}
  </li>
</ul>
