<div class="p-8">
  <h2 class="text-3xl font-semibold">Por Región</h2>

  <div class="my-4 flex justify-around gap-4 flex-wrap">
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      class="py-1 min-w-24 border-2 border-indigo-500 font-semibold rounded-md"
      [ngClass]="
        selectedRegion === region
          ? 'bg-indigo-500 text-white'
          : 'text-indigo-500 bg-transparent'
      "
    >
      {{ region }}
    </button>
  </div>

  <hr class="mb-6" />

  <div>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
