<h2 class="text-3xl p-3 text-center font-semibold">Países</h2>
<hr />

<ul class="flex flex-col py-6 text-lg">
 
  <!-- <li 
  routerLink="" 
  [routerLinkActiveOptions]="{ exact: true }" 
  routerLinkActive="border-l-8"
  class="px-8 py-4 hover:bg-indigo-500"
  >
    Home
  </li>

  <li
    routerLink="about"
    routerLinkActive="border-l-8"
    class="px-8 py-4 hover:bg-indigo-500 "
  >
    About
  </li>

  <li
    routerLink="contact"
    routerLinkActive="border-l-8"
    class="px-8 py-4 hover:bg-indigo-500 "
  >
    Contact
  </li> -->
  <li
    routerLink="countries/by-capital"
    routerLinkActive="border-l-8"
    class="px-8 py-4 hover:bg-indigo-500 "
  >
    Por Capital
  </li>
  <li
    routerLink="countries/by-country"
    routerLinkActive="border-l-8"
    class="px-8 py-4 hover:bg-indigo-500 "
  >
    Por Pais
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive="border-l-8"
    class="px-8 py-4 hover:bg-indigo-500 "
  >
    Por Region
  </li>
</ul>
